@import "tailwindcss";

@theme {
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% .006 285.885);
    --color-primary: oklch(45% .24 277.023);
    --color-primary-content: oklch(93% .034 272.788);
    --color-secondary: oklch(65% .241 354.308);
    --color-secondary-content: oklch(94% .028 342.258);
    --color-accent: oklch(77% .152 181.912);
    --color-accent-content: oklch(38% .063 188.416);
    --color-neutral: oklch(14% .005 285.823);
    --color-neutral-content: oklch(92% .004 286.32);
    --color-info: oklch(74% .16 232.661);
    --color-info-content: oklch(29% .066 243.157);
    --color-success: oklch(76% .177 163.223);
    --color-success-content: oklch(37% .077 168.94);
    --color-warning: oklch(82% .189 84.429);
    --color-warning-content: oklch(41% .112 45.904);
    --color-error: oklch(71% .194 13.428);
    --color-error-content: oklch(27% .105 12.094);
    --radius-selector: .5rem;
    --radius-field: .25rem;
    --radius-box: .5rem;
    --size-selector: .25rem;
    --size-field: .25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@layer utilities {
  @keyframes hide-loader {
    0%   { opacity: 1; visibility: visible; }
    90%  { opacity: 1; visibility: visible; }
    100% { opacity: 0; visibility: hidden; }
  }
  .animate-hide-loader {
    animation: hide-loader 0.3s ease-out 1s forwards;
  }
}

.sidebar-checkbox {
  display: none;
}

.sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}
.sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Safari & Opera */
}

.sidebar-overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.sidebar-checkbox:checked ~ .sidebar {
  transform: translateX(0);
}

.sidebar-checkbox:checked ~ .sidebar-overlay {
  opacity: 1;
  pointer-events: auto;
}
